<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @page_title || "CosSinCalc" %></title>
    <meta charset="utf-8" />
    <% if @meta_description %><meta name="description" content="<%= @meta_description %>" /><% end %>
    <meta name="keywords" content="cossincalc, triangle, trigonometry, calculator" />
    <meta name="author" content="Molte Emil Strange Andersen" />
    <meta name="verify-v1" content="RRuca04ksojfTunp0N5xD+IzH42yJWt5dKGvvD5E5ZE=" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= @html_head %>
    <script src="<%= @link_jquery %>"></script>
    <script src="/scripts/application.js"></script>
    <script src="<%= @link_raphael %>"></script>
    <script src="/scripts/cossincalc.min.js"></script>
    <script src="/scripts/jquery.deserialize.min.js"></script>
    <script src="/scripts/calculator.js"></script>
    <script src="<%= @link_mathjax %>"></script>
    <script>
      // Google Analytics tracking code
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-4329102-2', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="header">
      <a href="/" class="logo"><img src="/images/logo.gif" alt="CosSinCalc logo" title="CosSinCalc" /></a>
      <% if @header_spotlight %><div class="spotlight"><%= @header_spotlight %></div><% end %>
      <ul class="nav">
        <%= navigation_item('Calculator', (current_page?('/') ? '#calculator' : '/')) %>
        <%= navigation_item('Result',     '#result', { :class => 'disabled' }) %>
        <%= navigation_item('Download',   '/download') %>
        <%= navigation_item('About',      '/about') %>
      </ul>
    </div>
    
    <div id="main">
      <noscript><div class="spotlight">It appears that JavaScript is not enabled in your browser. It has to be turned on to use the calculator.</div></noscript>
      <%= yield %>
    </div>
    
    <div id="footer">
      <p>CosSinCalc by Molte Emil Strange Andersen (<a href="mailto:molte@cossincalc.com">molte@cossincalc.com</a>)</p>
      <%= @page_footer %>
    </div>
  </body>
</html>
